h1{
text-align:center;

}
h2{
background-color:hsla(180,30%,30%,.5);
}

a:link {
    text-decoration: none;
	color:white;
}

a:visited {
    text-decoration: none;
	color:white;
}

a:hover {
    text-decoration: none;
	color:black;
}

a:active {
    text-decoration: none;
	color:white;
}

.container {
    position: relative;
    text-align: center;
    color: White;
}
.centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}



table{
text-align:left;
margin:auto;
border-spacing:15px;
border:2px solid black;
width:70%;
font-size:20px;
background-color:#f1f1c1;
height:200px;
}

.img{
float:right;
width:35%;
text-align:center;
display:block;
padding-top:30px;
}


.div2{
padding-top:28px;
height:1800px;
width:30%;
float:right;
font-size:16px;
}

.div1{
margin:auto;
text-align:justify;
font-size:20px;
width:60%;
float:left;
padding-left:25px;
}

.col1{
padding-top: 13px;
padding-left: 12px;
padding-right: 37.6px;
padding-bottom: 20px;
overflow:hidden;
color:white;
width:10%;
height:35px;
font-size:20px;
float:left;
background:hsla(0,5%,5%,0.7);
text-align:justify;
}

.dropdown:hover {
    background-color: background-color: #ddd;
	 color:black;
}

.dropdown-content a:hover {
background-color:rgba(10,50,150,0.7);
	color:black;
}


.dropdown {
	
	cursor:pointer;
	padding-top:13px;
	padding-left:80px;
	color:white;
	font-size:20px;	
	float: left; 	 
	height:35px;
	background:hsla(0,5%,5%,0.7);
}


.dropdown .dropbtn {

    cursor: pointer;
    font-size: 18px; 
    background:hsla(0,5%,5%,0.7);
    padding:10 150px;
    height:80px;
    color: white;
    margin: auto;
}

.dropdown-content {
	
    display: none;
    position: absolute;
   background:hsla(0,5%,5%,0.7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

.dropdown-content a {
	
    float: none;
    color: white;
    padding: 12px 16px;
    display: block;
    background:hsla(0,5%,5%,0.7);

}


.show {
	
    display: block;
}